aiohttp
anytree
git+https://github.com/thetrueheavensequal/B
asgiref
asyncio
beautifulsoup4
bencode.py
bencoding
cfscrape
cloudscraper
dnspython
feedparser
flask
gc-python-utils
cinemagoer
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
lk21
lxml
markdown
mediainfo
pillow
playwright
psutil
pybase64
pycountry
pymongo
pyrogram==2.0.66
python-dotenv
python-magic
python-telegram-bot==13.15
git+https://github.com/rajanvibes/qmbittomrrent-ampi
requests
git+https://github.com/thetrueheavensequal/D
telegraph
tenacity
tgCrypto
urllib3
waybackpy
xattr
git+https://github.com/thetrueheavensequal/A
